<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LOC-Prototype</title>
		<!-- Link CSS -->
		<link rel="stylesheet" href="styles/styles.css" />

		<!-- Link JavaScript -->
		<script type="module" src="js/departments.js" defer></script>
		<script type="module" src="js/script.js" defer></script>
	</head>
	<body>
		<main>
			<h1>Edit Division</h1>
			<form id="form">
				<!-- Fieldset to select department -->
				<fieldset>
					<legend>Select a Department</legend>
					<label for="division">Choose Divsion</label>
					<select id="division" name="division" required>
						<option value="">-- Please Select A Department --</option>
					</select>
				</fieldset>

				<!-- Fieldset to edit information -->
				<fieldset>
					<legend>Current Info</legend>
					<label for="dean-input">Dean: </label>
					<input
						type="text"
						id="dean-input"
						name="dean-input"
						class="input-fields"
						required
						disabled
					/>
					<label for="pen-input">PEN Contact: </label>
					<input
						type="text"
						id="pen-input"
						name="pen-input"
						class="input-fields"
						required
						disabled
					/>
					<label for="loc-input">LOC Representative: </label>
					<input
						type="text"
						id="loc-input"
						name="loc-input"
						class="input-fields"
						required
						disabled
					/>
					<label for="chair-input">Chair: </label>
					<input
						type="text"
						id="chair-input"
						name="chair-input"
						class="input-fields"
						required
						disabled
					/>
				</fieldset>

				<!-- Buttons -->
				<div id="buttons-container">
					<button id="save-btn" class="button" type="submit">Save</button>
					<button id="cancel-btn" class="button" type="button">Cancel</button>
					<button class="button" id="edit-form-btn" type="button" disabled>
						Edit Form
					</button>
				</div>
			</form>
		</main>
	</body>
</html>
